# ESP-IDF build
firmware/build/
firmware/sdkconfig
firmware/sdkconfig.old
firmware/keys
firmware/managed_components/

# Python
__pycache__/
*.pyc
*.egg-info/
dist/
*.whl

# IDE
.vscode/
.idea/

# OS
.DS_Store
